@import 'tailwindcss';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/effect-cards';

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --primary: 224.3 76.3% 48%;
  --primary-foreground: 0 0% 100%;
  --info: 188.7 94.5% 42.7%;
  --info-foreground: 0 0% 100%;
  --success: 142.1 70.6% 45.3%;
  --success-foreground: 0 0% 100%;
  --warning: 45.4 93.4% 47.5%;
  --warning-foreground: 0 0% 100%;
  --error: 0 84.2% 60.2%;
  --error-foreground: 0 0% 100%;
  --muted: 215 13.8% 34.1%;
  --border: 240 5.9% 90%;
  --radius: 0.75rem;
}

.dark {
  --background: 0 0% 4.9%;
  --foreground: 0 0% 100%;
  --secondary: 240 10% 10%;
  --secondary-foreground: 240 4.8% 95.9%;
  --primary: 216.88 100% 59.61%;
  --primary-foreground: 0 0% 100%;
  --info: 196.4 63.6% 23.7%;
  --info-foreground: 0 0% 100%;
  --success: 142.8 64.2% 24.1%;
  --success-foreground: 0 0% 100%;
  --warning: 35.5 91.7% 32.9%;
  --warning-foreground: 0 0% 100%;
  --error: 0 62.8% 30.6%;
  --error-foreground: 0 0% 100%;
  --muted: 239.9 5.73% 64.3%;
  --border: 240 3.7% 15.9%;
  --radius: 0.75rem;
}

@theme {
  --variant-dark: (&: where(.dark, .dark *));

  --color-border: hsl(var(--border));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-info: hsl(var(--info));
  --color-info-foreground: hsl(var(--info-foreground));
  --color-success: hsl(var(--success));
  --color-success-foreground: hsl(var(--success-foreground));
  --color-warning: hsl(var(--warning));
  --color-warning-foreground: hsl(var(--warning-foreground));
  --color-error: hsl(var(--error));
  --color-error-foreground: hsl(var(--error-foreground));
  --color-muted: hsl(var(--muted));

  --text-xxs: 0.65rem;

  --tracking-1: 0em;
  --tracking-2: 0.025em;
  --tracking-3: 0.05em;
  --tracking-4: 0.1em;
  --tracking-5: 0.2em;
  --tracking-6: 0.3em;
  --tracking-7: 0.4em;
  --tracking-8: 0.5em;
  --tracking-9: 0.6em;

  --breakpoint-xs: 480px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --background-image-learning: url('/images/theme/intro/learning.jpg');

  --font-sans: var(--font-yekanbakh), sans-serif;
}

@plugin "@tailwindcss/forms";

@layer base {
  * {
    @apply border-border;
  }

  html,
  body {
    font-family: 'YekanBakh', sans-serif;
    background: hsl(var(--background));
    color: hsl(var(--foreground));
  }

  [x-cloak] {
    @apply hidden!;
  }

  html:not(.dark) .dark-icon {
    @apply hidden;
  }

  [dir='rtl'] .form-select:not(.form-multiselect) {
    background-position: left theme('spacing.2') center;
    padding-left: theme('spacing.10');
    padding-right: theme('spacing.3');
  }

  .dark .light-icon {
    @apply hidden;
  }

  .swiper .swiper-button-prev,
  .swiper .swiper-button-next {
    @apply flex items-center justify-center w-11 h-11 bg-background border border-border rounded-full text-foreground;
  }

  .swiper .swiper-button-prev::after,
  .swiper .swiper-button-next::after {
    @apply text-lg;
  }

  .swiper .swiper-button-disabled {
    @apply opacity-0!;
  }

  .single-swiper-slider .swiper-pagination-bullet-active {
    @apply bg-background;
  }

  .description h1,
  .description h2 {
    @apply font-black text-xl mb-3;
  }

  .description h3,
  .description h4 {
    @apply font-black text-lg mb-3;
  }

  .description h5 {
    @apply font-black text-base mb-3;
  }

  .description h6 {
    @apply font-black text-sm mb-3;
  }

  .description p {
    @apply text-muted text-sm mb-5;
  }

  .description img {
    @apply block max-w-full rounded-3xl mx-auto mb-5;
  }

  .faq-description h2,
  .faq-description h3 {
    @apply font-bold text-sm text-muted;
  }

  .faq-description p {
    @apply font-semibold text-xs text-muted;
  }

  .faq-description ul {
    @apply flex flex-col items-start list-inside list-disc;
  }

  .faq-description li {
    @apply font-semibold text-xs text-muted;
  }
}

.ql-editor {
  direction: rtl !important;
  text-align: right !important;
  font-family: 'YekanBakh';
  @apply text-foreground;
}

.ql-container.ql-snow,
.ql-toolbar.ql-snow {
  @apply border-border;
}

.ql-toolbar.ql-snow .ql-formats {
  margin-left: 15px;
  margin-right: 0;
}

.ql-snow .ql-picker-label {
  padding-right: 8px;
  padding-left: 2px;
}

.ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
  left: 0;
  right: auto;
}

.ql-editor ol {
  padding-right: 1.5em;
  padding-left: 0;
}

.ql-editor li {
  padding-right: 1.5em;
  padding-left: 0;
}

.ql-editor li > .ql-ui:before {
  margin-right: -1.5em;
  margin-left: 0.3em;
  text-align: left;
}
